/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4a883da;
    color: #333;
}

header {
    background-color: #F4BE93;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 40px;
    text-align: center;
}

h2 {
    color: #000000c6;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.galeria-imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.galeria-imagens img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#cardapio ul {
    list-style-type: none;
    padding: 0;
}

#cardapio ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

#contato p {
    font-size: 18px;
}

.social img {
    width: 40px;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.secundario__imagem {
    width: 30%;
} 

.logo-imagem{
    width: 30%;
}